{% from "components/card.html" import card %}
{% extends "dashboard/base.html" %}

{% block title %}Signup Players{% endblock %}

{% block pagetitle %}{{ game }} &mdash; Volunteer Actions{% endblock %}
{% block pagesubtitle %}Signup Players{% endblock %}

{% block subcontent %}
<div class="ui-grid s-dashboard__player-list">
  <div class="ui-grid align-content-start">
    {% call card("Add Player to " + game.name, id="card--add-player") %}
      <form method="post">
        {{ csrf_input }}

        {% for field in volunteer_signup_player_form %}
        <div class="ui-form-group">
          <label class="ui-label" for="{{ field.name }}">{{ field.label }}</label>
          {{ field }}
          {% for error in field.errors %}
            <span class="ui-form__text ui-form__text--error">{{ error }}</span>
          {% endfor %}
        </div>
        {% endfor %}

        <div class="ui-form-group pt-2 text-center">
          <input type="submit" value="Signup" class="btn btn-block btn-primary">
        </div>
      </form>
    {% endcall %}
  </div>

  {% call card("Signup Locations") %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Location</th>
        <th scope="col">Emails sent</th>
        <th scope="col">Emails acted on</th>
      </tr>
      </thead>
      <tbody>
      {% for location in signup_locations %}
      <tr>
        <td scope="col">{{ location.name }}</td>
        <td scope="col">{{ location.signupinvite_set.values_list('email', flat=True).distinct().count() }}</td>
        <td scope="col">{{ location.signupinvite_set.filter(used_at__isnull=False).count() }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Self registration</th>
        <th scope="col">Total registration</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td scope="col">{{ player_count - sum([loc.signupinvite_set.filter(used_at__isnull=False).count() for loc in locations]) }}</td>
        <td scope="col">{{ player_count }}</td>
      </tr>
      </tbody>
    </table>
  {% endcall %}
  {% call card("Signup Graph") %}
  <div id="container" style="width: 75%;">
    <canvas id="signup-graph"></canvas>
  </div>

  {% endcall %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    var config = {
      type: 'line',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          ]
        }]
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('signup-graph').getContext('2d');
      window.graph = new Chart(ctx, config);
    };

  </script>
{% endblock %}